html {
    font-size: 8px;
    padding:0;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #454545
}

h2 {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #454545
}

h3 {
    font-size: 2.2rem;
    color: gray;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-size: 1.8rem;
    color: gray;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: gray;
}

.container-logo {
    display: flex;
    align-items: center;
}

.image-logo {
    height: 6rem;
    padding-left: 2.5rem;
}

nav .logo {
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
}

.dark {
    color: #454545;
}

.light {
    color: gray;
    font-weight: lighter;
}

ul {
    text-decoration: none;
    list-style: none;
    padding-right: 20px;

}

li {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 2.5rem;
    font-size: 2.5rem;
}

.banner {
    margin: 0 auto;
    padding-top: 4rem;
    padding-left: 3rem;
    padding-bottom: 4rem;
    background-color:lightgray;
    display: flex;
    flex-direction: row;
}

.banner img {
    max-width: 60%;
    height: auto;
    margin-right: 4rem;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
}

.banner-text h1 {
    margin: 0;
}

.banner-text h2 {
    color: white;
    margin: 0;
}

.banner-text button {
    background-color: #454545;
    color: white;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    padding: 2rem 0px;
    outline: none;
}

.main {
    padding: 4rem 3rem;
    background-color:white;
    display: flex;
    flex-direction: row;
    position: relative;
}

.main-info img {
    max-width: 100%;
    height: auto;
}

.main-info {
    width: 61%;
    padding-right: 4rem;
}

.main-info h1 {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.main-info h3 {
    width: 90%;
    margin-bottom: 5rem;
}

.main-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.5px solid lightgray;
    padding-right: 2rem;
}

.main-list {
    width: 35%;
}

.main-item img {
    width: 35%;
    margin: 2rem;
}

.guest {
   background-color: lightgrey;
}

.link {
    color: lightskyblue;
    font-weight: normal;
}

.start {
    background-color:lightgray;
    margin: 0 auto;
    padding: 20px;
}

.courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem;
}

.start-header {
    text-align: center;
    padding: 4rem;
}

.course-box {
    background-color: white;
    width: 45rem;
    margin: 2rem 2rem 2rem 2rem;
}

.course-box img {
    width: 100%;
    height: auto;
    margin: 0;
}

.course-text {
    padding-top: 2rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
}

.course-text h3 {
    width: 90%;
}

.thesis {
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.thesis h1 {
    text-align: center;
    padding: 4rem;
}

.thesis-container {
    display: flex;
    flex-direction: row;
}

.thesis video {
    width: 60%;
    margin-left: 3rem;

}

.thesis-menu {
    width: 40%;
    margin-left: 3rem;
}

#grey {
    background-color: lightgray;
}

#caption-head {
    margin-left: 3rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 60%;
}

#caption-body {
    margin-left: 3rem;
    width: 55%;
    margin-bottom: 4rem;
}

video {
    outline: none;
}

p {
    font-size: 1.5rem;
    color: gray;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#terms {
    word-spacing: 1rem;
}

.nav-mobile {
    display: none;
}

.nav-reduced {
    display: none;
}

.mobile {
    display: none;
}

.start-mobile {
    display: none;
}

.thesis-mobile {
    display: none;
}

.footer-mobile {
    display: none;
}

@media only screen and (min-width: 500px) and (max-width: 1100px) {

    .banner h1 {
        margin-top: 1rem;
        margin-bottom: 2rem;
    } 
    
    .banner h2 {
        margin-bottom: 2rem;
        color: white;
    }
    
    .nav-mobile {
        display: none;
    }

    .nav-reduced {
        display: none;
    }

    .mobile {
        display: none;
    }

    .thesis-mobile {
        display: none;
    }

    .footer-mobile {
        display: none;
    }

    .thesis video {
        align-self: center;
    }

}

@media only screen and (min-width: 750px) and (max-width: 980px) {

    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        height: 8rem;
        background-color: white;
        width: 100%;
        display: flex;
    }

    .nav-mobile .icon {
        display: flex;
        flex-direction: row;
    }

    .img-icon {
        padding: 0px 4rem;
    }

    .nav-reduced {
        display: none;
    }

    .mobile {
        display: none;
    }

    .start-mobile {
        display: none;
    }

    .thesis-mobile {
        display: none;
    }

    .footer-mobile {
        display: none;
    }
}

@media only screen and (max-width: 750px) {

        .banner, .main, .main-list, .main-info, .main-item, .main-text, .start, .nav-mobile, .nav-desktop, .thesis, .footer {
            display: none;
        }

        .nav-reduced {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 1rem;
        }

        .image-logo-reduced {
            height: 6rem;
            padding: .5rem;
        }
        
        #img-icon {
            height: 5rem; 
            padding: .5rem;
        }

        .mobile {
            display: block;
        }

        .mobile img {
            width: 100%;
            height: auto;
            margin-bottom: -3.5rem;
        }

        .mobile-banner {
            background-color: lightgray;
            display: flex;
            flex-direction: column;
        }

        .mobile-banner h1 {
            margin-left: 4rem;
            padding-top: 4rem;
        }

        .mobile-banner h2 {
            margin-left: 4rem;
            padding-bottom: 2rem;
            color: white;
        }

        .mobile-banner button {
            background-color: #454545;
            color: white;
            font-size: 2rem;
            font-family: 'Roboto', sans-serif;
            width: 50%;
            box-shadow: 0px 0px 0px transparent;
            border: 0px solid transparent;
            text-shadow: 0px 0px 0px transparent;
            padding: 2rem 0px;
            outline: none;
            display: inline-block;
            margin: 2rem 25% 4rem 25%;
        }

        .mobile {
            display: flex;
        }   

        .mobile-main {
            background-color: white;
            margin: 0 auto;
        }

        .mobile-main-item img {
            width: 100%;
            height: auto;
        }

        .mobile-main-text {
            margin: 3rem;
        }

        .mobile-main-text h2 {
            font-size: 4rem;
        }

        .mobile-main-text h3 {
            font-size: 2.5rem;
        }

        .mobile-img-cont {
            display: block;
            text-align: center;
            padding: 3rem;
        }

        .mobile .guest {
            background-color: white;
        }

        .start-mobile {
            border: 1px solid lightgray;
            display: block;
        }

        .start-header p {
            padding: 0px;
            font-size: 5rem;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: #454545
        }

        .start-header {
            padding: 0px;
        }

        .course-mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .software {
            color: white;
            font-size: 3rem;
            background-image: url("resources/media/images/course-software.jpg");
            background-color: gray;
            background-position: center;
            background-repeat: no-repeat;
            padding: 6rem 10rem;
            margin: 1rem 6rem;
            width: 50%;
        }

        .computer {
            color:white;
            font-size: 3rem;
            background-image: url("resources/media/images/course-computer-art.jpg");
            background-color: gray;
            background-position: center;
            background-repeat: no-repeat;
            padding: 7.8rem 10rem;
            margin: 1rem 6rem;
            width: 50%;
        }

        .design {
            color:white;
            font-size: 3rem;
            background-image: url("resources/media/images/course-design.jpg");
            background-color: gray;
            background-position: center;
            background-repeat: no-repeat;
            padding: 7.8rem 10rem;
            margin: 1rem 6rem;
            width: 50%;
        }

        .data {
            color:white;
            font-size: 3rem;
            background-image: url("resources/media/images/course-data.jpg");
            background-color: gray;
            background-position: center;
            background-repeat: no-repeat;
            padding: 7.8rem 10rem;
            margin: 1rem 6rem;
            width: 50%;
        }

        .business {
            color:white;
            font-size: 3rem;
            background-image: url("resources/media/images/course-business.jpg");
            background-color: gray;
            background-position: center;
            background-repeat: no-repeat;
            padding: 7.8rem 10rem;
            margin: 1rem 6rem;
            width: 50%;
        }

        .marketing {
            color:white;
            font-size: 3rem;
            background-image: url("resources/media/images/course-marketing.jpg");
            background-color: gray;
            background-position: center;
            background-repeat: no-repeat;
            padding: 7.8rem 10rem;
            margin: 1rem 6rem;
            margin-bottom: 3rem;
            width: 50%;
        }

        .thesis-mobile {
            display: block;
            text-align: center;
        }

        .thesis-mobile p {
            padding: 0px;
            font-size: 5rem;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: #454545
        }

        .thesis-mobile video {
            width: 100%;
            height: auto;
        }

        .footer-mobile {
            display: block;
        }

        .footer-mobile p {
            font-size: 2rem;
        }
